<div class="flex h-full flex-col justify-center">
    <div class="w-full flex h-full">
        <div class="w-full h-screen overflow-auto flex items-center lg:items-start xl:items-center py-5 px-3 lg:px-0">
            <div class="w-full">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <img class="mx-auto h-12 w-auto" src="https://admin.14daypilot.com/assets/icons/logo-black-new.png"
                        alt="Your Company">
                    <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-[#1B1B1B]">
                        <b class="color-primary">Phoenix App</b>
                    </h2>
                    <!-- follow the link -->
                    <p class="text-center text-[#505050]">Follow the link to download the app</p>
                </div>
                <!-- or -->
                <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-md px-5 lg:px-10 rounded-2xl">
                    <div class="mt-5 flex justify-center gap-3">
                        <a href="{{ dataApp.android }}" target="_blank"
                            class="flex items-center justify-center w-full rounded-md bg-white px-3 py-3 text-base font-semibold leading-6 text-[#1B1B1B]">
                            <img class="h-5 w-5" src="/assets/icons/play-store.png" alt="Twitter">
                            <span class="ml-2 text-sm font-bold">Play Store</span>
                        </a>
                        <a href="{{ dataApp.ios }}" target="_blank"
                            class="flex items-center justify-center w-full rounded-md bg-white px-3 py-3 text-base font-semibold leading-6 text-[#1B1B1B]">
                            <img class="h-5 w-5" src="/assets/icons/app-store.png" alt="Facebook">
                            <span class="ml-2 text-sm font-bold">App Store</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full h-full hidden lg:block">
            <img class="object-cover object-left-bottom w-full h-full" src="/assets/login.png" alt="Login">
        </div>
    </div>
</div>